.soundtrackDisplay div{
    animation: musicDisplay 8s linear infinite;
    transform:translateX(-100%);

}

@keyframes musicDisplay{
    from {
        transform: translateX( -100%);
    }
    to {
        transform: translateX(100%);
      }
}