

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

header{
  position: absolute;
  top: 0;
  padding: 10px;
  z-index: 10;
  width: 100%;
}

header > div{
  display: flex;
}


.playMusic{ float: right; }

.headerbutton:hover{
  cursor: pointer;
}
.material-icons{
  color: white;
  opacity: 0.8;
}

footer{
  display: block;
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 5px;
}

footer a{
  text-decoration: none;
  color: white;
  opacity: 0.6
}

footer a:hover{
  text-decoration-line: underline;

}

