@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --primary-bg-color: #4755a5;
  --primary-txt-color: white;

  --light-bg-color: #7981d7;
  --light-txt-color: black;

  --dark-bg-color: #072d76;
  --dark-txt-color: white;
}

html, body, #root{
  height: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}